<% layout( 'layout') -%>

<div class="row">
  <div class="col-md-10">
    <div class="col-md-3">
      <!-- danger zone -->
      <div class="well">
	<div class="page-header">
	  <h3>Danger<small> zone</small></h3>
	</div>
	<a class="btn btn-danger disabled" id="acc_delete_btn" href="/accdestroy/<%= account._id %>" role="button">Delete Account</a>
	<input type="checkbox" id="confirm_account_delete"> Trust me
      </div>
    </div>
    <div class="col-md-7">
      <div class="well">
	<div class="page-header">
	  <h3>Account<small> edit</small></h3>
	</div>
	<form action="/accupdate/<%= account._id %>" method="post" accept-charset="utf-8" class="form-horizontal" role="form" id="accupdate">
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="id">Id</label>
	    <div class="col-sm-9">
	      <input type="text" name="id" class="form-control" value="<%= account.id %>" readonly/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Name</label>
	    <div class="col-sm-9">
	      <input type="text" name="name" class="form-control" value="<%= account.name %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">SAP ID</label>
	    <div class="col-sm-9">
	      <input type="text" name="sapid" class="form-control" value="<%= account.sapid %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Trunk(s)</label>
	    <div class="col-sm-9">
	      <input type="text" name="trunk" class="form-control" value="<%= account.trunk %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Ratesheet</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="ratesheet" form="accupdate">
		<% ratesheets.forEach(function(rs){
		   if(rs.name === account.ratesheet){
		   %>
		<option value="<%= rs.name  %>" selected ><%= rs.name  %></option>
		<% }else{ %>
	      <option value="<%= rs.name  %>"><%= rs.name  %></option>
	      <% }}); %>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Edit</button>
	    </div>
	  </div>
	</form>
      </div><!-- well div -->
    </div>
  </div> 
</div><!-- end of row -->

<script>
  $(document).ready(function(e){
  
  safe_del_button($('#confirm_account_delete'), $('#acc_delete_btn'));
  
  });
</script>
