<% layout( 'layout') -%>

<div class="row-fluid">
  <div class="col-md-10">
    
    <div class="col-md-3">
      <!-- danger zone -->
      <div class="well">
	<div class="page-header">
	  <h3>Danger<small> zone</small></h3>
	</div>
        <input type="checkbox" id="confirm_account_delete"> Trust me
        <a class="btn btn-danger disabled" id="acc_delete_btn" href="/accountdestroy/<%= ctx.acc.accid %>" role="button">Delete Account</a>
      </div>
    </div>
    <!-- end of danger zone -->

    <div class="col-md-offset-0 col-md-6">
      <div class="well">
	<div class="page-header">
	  <h3>Account<small> edit</small></h3>
	</div>
	<form action="/accountupdate/<%= ctx.acc.accid %>" method="post" accept-charset="utf-8" class="form-horizontal" role="form" id="accupdate">
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="id">Id</label>
	    <div class="col-sm-9">
	      <input type="text" name="id" class="form-control" value="<%= ctx.acc.accid %>" readonly/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Name</label>
	    <div class="col-sm-9">
	      <input type="text" name="name" class="form-control" value="<%= ctx.acc.name %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">SAP ID</label>
	    <div class="col-sm-9">
	      <input type="text" name="sapid" class="form-control" value="<%= ctx.acc.sapid %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Identifier</label>
	    <div class="col-sm-9">
	      <input type="text" name="identifier" class="form-control" value="<%= ctx.acc.identifier %>"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Ratesheet</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="ratesheet" form="accupdate">
		<% ctx.ratesheets.forEach(function(rs){
		   if(rs.name === ctx.acc.ratesheet){
		   %>
		<option value="<%= rs.name  %>" selected ><%= rs.name  %></option>
		<% }else{ %>
	      <option value="<%= rs.name  %>"><%= rs.name  %></option>
	      <% }}); %>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2">Discount</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="discount" form="accupdate">
		<option value="">None</option>
		<% ctx.discounts.forEach(function(dis){
		   if(dis.name === ctx.acc.discount){
		   %>
		<option value="<%= dis.name  %>" selected ><%= dis.name  %></option>
		<% }else{ %>
	      <option value="<%= dis.name  %>"><%= dis.name  %></option>
	      <% }}); %>
	      </select>
	    </div>
	  </div>

          <div class="form-group">
	    <label class="control-label col-sm-2">Parent Company</label>
	    <div class="col-sm-9">
	      <input type="text" name="parentcompany" class="form-control"
                     value="<%= ctx.acc.parent_company %>"/>
	    </div>
	  </div>

          <div class="form-group">
	    <label class="control-label col-sm-2">VAT</label>
	    <div class="col-sm-9">
	      <input type="text" name="vat" class="form-control"
                     value="<%= ctx.acc.vat %>"/>
	    </div>
	  </div>

          <div class="page-header text-center" id="address-btn">
            <p class="btn btn-default"><b>Address</b></p>
          </div>
          <div class="well" id="address-hide">
            <div class="form-group">
	      <label class="control-label col-sm-2">Address 1</label>
	      <div class="col-sm-9">
	        <input type="text" name="address1" class="form-control"
                       value="<%= ctx.acc.address1 %>"/>
	      </div>
	    </div>
            <div class="form-group">
	      <label class="control-label col-sm-2">Address 2</label>
	      <div class="col-sm-9">
	        <input type="text" name="address2" class="form-control"
                       value="<%= ctx.acc.address2 %>"/>
	      </div>
	    </div>
            <div class="form-group">
	      <label class="control-label col-sm-2">Address 3</label>
	      <div class="col-sm-9">
	        <input type="text" name="address3" class="form-control"
                       value="<%= ctx.acc.address3 %>"/>
	      </div>
	    </div>
            <div class="form-group">
	      <label class="control-label col-sm-2">Address 4</label>
	      <div class="col-sm-9">
	        <input type="text" name="address4" class="form-control"
                     value="<%= ctx.acc.address4 %>"/>
	      </div>
	    </div>
            <div class="form-group">
	      <label class="control-label col-sm-2">Address 5</label>
	      <div class="col-sm-9">
	        <input type="text" name="address5" class="form-control"
                       value="<%= ctx.acc.address5 %>"/>
	      </div>
	    </div>
          </div>
          <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Update</button>
	    </div>
	  </div>
	</form>
      </div><!-- well div -->
    </div>

    <div class="col-md-offset-0 col-md-3">
      <div class="well">
        <div class="page-header">
          <h3>Account<small> settings</small></h3>
        </div>
        <p>
          <a href="/extracharges/<%= ctx.acc.accid %>" class="btn btn-default">Extra Charges</a>
        </p>
      </div>
    </div>

    
  </div>
</div><!-- end of row -->


<script>
  $(document).ready(function(e){
  
  safe_del_button($('#confirm_account_delete'), $('#acc_delete_btn'));
  hide_address($('#address-hide'), $('#address-btn'));
  
  });
</script>
