<% layout( 'layout') -%>

<div class="row-fluid">
  <div class="col-md-offset-2 col-md-7">

    <div class="well">
      <% ctx.BP.forEach(function(bp){ %>
      <form action='/update_billing_proc/bp._id' method='post' accept-charset='utf-8' role='form' id='' class=''>
        <input type="text" class="" name="b_pdf_dir" value="<%= bp.pdf_dir %>"/>
        <input type="text" class="" name="b_csv_dir" value="<%= bp.csv_dir %>"/>
        <input type="text" class="" name="b_log_dir" value="<%= bp.log_dir %>"/>
        <input type="submit" class="btn" value="Edit"/>
      </form>
      <% }) %>
    </div>

    <div class="well">
      <% ctx.MP.forEach(function(mp){ %>
      <form action='/update_mediation_proc/mp._id' method='post' accept-charset='utf-8' role='form' id='' class=''>
        <input type="text" class="" name="m_cdr_dir" value="<%= mp.cdr_dir %>"/>
        <input type="text" class="" name="m_frequency" value="<%= mp.frequency %>"/>
        <input type="text" class="" name="m_log_dir" value="<%= mp.log_dir %>"/>
        <input type="submit" class="btn" value="Edit"/>
      </form>
      <% }) %>
    </div>
    
    <div class="well">
      <% ctx.RP.forEach(function(rp){ %>
      <form action='/update_rating_proc/rp._id' method='post' accept-charset='utf-8' role='form' id='' class=''>
        <input type="text" class="" name="r_log_dir" value="<%= rp.log_dir %>"/>
        <input type="submit" class="btn" value="Edit"/>
      </form>
      <% }) %>
    </div>
    
  </div>
</div>
